* Fonts */
@font-face {
    font-family: 'bubble';
    src: url('bubblefont/balonku-webfont.woff2') format('woff2'),
         url('bubblefont/balonku-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: rgb(255, 184, 177);
}


/* Navigation Bar */ 
.nav-bar {
    background-color: rgb(255, 199, 193);
    position: fixed;
    top: 0;
    width: 100;

}
.nav-bar ul {
    margin: 0;
    padding: 0;
    
}

.nav-bar li {
    float: left;
    list-style-type: none;
    overflow: hidden;
    font-family: bubble;
}

.nav-bar li a{
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    padding: 14px 16px ;
    font-size: 20px;
}

.nav-bar li a:hover:not(.active) {
    background-color: salmon;
    border-left: 1.5px solid black;
    border-right: 1.5px solid black;
}

.active {
    background-color: salmon;
} 

/* Heading */
.header h1 {
    color: white;
    text-align: center;
    padding: 50px 0 0 0;
    font-family: bubble;
    font-size: 47px;
}

ul {
    color: white;
    line-height: 30px;
    margin-top: 20px;
    text-align: left;
    font-family: fantasy;
    padding: auto;
    font-size: 20px;
    list-style-type: square;
}

/* Tables */
th {
  background-color:  rgb(255, 199, 193);  
}
 

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    max-width: 700px;
    margin: auto;
  }

  th, td {
    padding: 15px;
    color: white;
    font-family: fantasy;
  }

  .table-head-font th {
    font-family: bubble;
    font-size: 25px;
  }
